
body {
  -webkit-touch-callout: none!important;
}

.parent-zoom {
  -webkit-user-select: none!important;
}

.parent-zoom img {
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 200ms;
  -webkit-transition-timing-function: ease;
  cursor: cell;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  border: 0;
}

.zoomy {
  position: absolute;
  display: none;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 5px 10px #000;
  -moz-box-shadow: 0px 5px 10px #000;
  -o-box-shadow: 0px 5px 10px #000;
  -ms-box-shadow: 0px 5px 10px #000;
  box-shadow: 0px 5px 10px #000;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color='#3333333',Positive='true');
  line-height: 100px;
  text-align: center;
  background-color: #fff;
  z-index: 999;
  overflow: hidden;
  -webkit-transition-property: border-width,border-color,opacity;
  -webkit-transition-duration: 500ms,1s,500ms;
  -webkit-transition-timing-function: ease;
}

.zoomy span {
  display: block;
  margin: 5px auto;
  background: -moz-linear-gradient(top,rgba(255,255,255,.6) 0%,rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,.6)),color-stop(100%,rgba(255,255,255,0)));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#55FFFFFF,endColorstr=#00ffffff);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#55FFFFFF,endColorstr=#00ffffff);
}

.zoomy a {
  color: #333;
  text-decoration: none;
  outline: 0;
}

.inactive img {
  opacity: 0.85!important;
  filter: alpha(opacity=85)!important;
}

.zoomy #tmp {
  max-width: none;
  max-height: none;
  top: -999999px;
  left: -999999px;
}

.zoomy.start {
  border-width: 2px;
  border-color: #444;
}

.zoomy-wrap {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 999;
}

.zoomy-btn {
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  height: 60px;
  width : 60px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 2px rgba(255,255,255,.8);
  box-shadow: 0px 1px 2px rgba(255,255,255,.8);
  background: rgba(0,0,0,.8);
  background-position: 0px 0px;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  line-height: 100px;
  color: #fff;
}

.zoomy-btn svg {
  margin: 8px auto;
  display: block;
}

.active .zoomy-btn svg {
  display: none;
}

.active .zoomy-btn {
  width: 100%;
  height: 100%;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  top: 0px;
  right: 0px;
  overflow: hidden;
  color: rgba(0,0,0,0);
}

.iit-droppable-wrapper {
  position: relative;
}

.iit-wrapper {
  background-color: #FFF;
  color: #222;
}

#iit-content #menu {
  max-width: 1200px;
}

#iit_container {
  top: 340px;
  width: 100%;
  height: 800px;
}

.img-container {
  float: left;
  max-width: 810px;
  width: 48%;
  border: 2px #333 solid;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 0 0 px;
  background: #eee;
  z-index: -1;
  opacity: .9;
  padding: 8px;
}

.img-container h4 {
  color: #222;
  line-height: 600px;
}

.img-container.iit-ui-state-hover {
  border: 2px #000 solid;
  background-color: #ccc;
}

.img-container img {
  width: 100%;
  max-width: 800px;
}

.jcrop-holder img {
  max-width: unset;
}

#image1 {
  float: left;
  text-align: center;
}

#image2 {
  float: left;
  text-align: center;
}

#overlay1 {
  position: absolute;
  top: 0;
  background: rgba(0,0,0,1.0);
  cursor: pointer;
}

#overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,1.0);
  cursor: pointer;
  width: 100%;
  min-height: 1200px;
  z-index: 700;
  padding-top: 1em;
}

#results {
  float: left;
  cursor: move;
}

#results .ui-icon-close,#results .ui-icon-info,#results .ui-icon-arrowstop-1-e,#results .ui-icon-gripsmall-diagonal-se {
  background-image: url(images/ui-icons_high-contrast_256x240.png);
}

#results .resizable img {
  width: 100%;
}

#results .ui-icon-close {
  position: absolute;
  right: -16px;
  top: -16px;
  cursor: pointer;
}

#results .ui-icon-info {
  position: absolute;
  left: -16px;
  top: -16px;
  cursor: context-menu;
}

#results .ui-icon-arrowstop-1-e {
  position: absolute;
  bottom: -16px;
  cursor: pointer;
}

#results .ui-icon-gripsmall-diagonal-se {
  position: absolute;
  right: -16px;
  bottom: -8px;
  cursor: se-resize;
}

.info {
  float: left;
  min-height: 0.2em;
}

.info p {
  float: left;
  font-size: x-small;
}

.flip {
  -webkit-transform: scale(-1,1);
  transform: scale(-1,1);
  -moz-transform: scale(-1,1);
  -ms-transform: scale(-1,1);
  -o-transform: scale(-1,1);
}

.ui-state-disabled {
  opacity: 1;
  filter: none;
  background-image: inherit;
}

.imgtbl {
  width: 100%;
  height: 100%;
  border-spacing: 0px 0px;
  border: 1px solid white;
  border-width: 1px;
  border-color: white;
  z-index: 11000;
  margin: 0;
}

.imgtbl td {
  border: 1px solid white;
  padding: 0px;
}

#img_overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 564px;
  background-color: #000;
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
  z-index: 10000;
}

#img_overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 564px;
  background-color: #777;
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
  z-index: 10000;
}

#content {
  width: 100%;
  height: 950px;
  overflow: auto;
}

.agile_btn {
  width: 20%;
}

form.inline {
  display: inline;
}

#ol_container {
  width: 100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

#twoviews_container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  min-height: 1200px;
}

.two_up_image {
  width: 99%;
}

#ol_i1,#ol_i2 {
  float: left;
}

.iit-image-holder {
  width: 49%;
  padding: 0 5px;
  box-sizing: border-box;
}

.iit-image-holder img {
  width: 100%;
}

.ui-rotatable-handle {
  height: 16px;
  width: 16px;
  cursor: pointer;
  background-image: url(images/rotate.png);
  background-size: 100%;
  position: absolute;
  left: -16px;
  bottom: -16px;
}

.crosshair-horizontal {
  height: 1px;
  width: 100%;
  background-color: #eee;
  position: absolute;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.crosshair-vertical {
  height: 100%;
  width: 1px;
  background-color: #eee;
  position: absolute;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.iit-button {
  background-color: #eee;
  color: #111;
  padding: 3px 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-width: 1px;
  border-style: outset;
  border-color: buttonface;
  position: relative;
  margin-right: 4px;
}

.ui-helper-hidden {
  display: none;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-clearfix:before,.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

.ui-helper-clearfix:after {
  clear: both;
}

.ui-helper-clearfix {
  min-height: 0;
}

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

.ui-front {
  z-index: 100;
}

.ui-state-disabled {
  cursor: default !important;
}

.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui-resizable {
  position: relative;
}

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}

.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

.ui-icon {
  width: 16px;
  height: 16px;
}

.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}

.ui-icon-close {
  background-position: -80px -128px;
}

.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}

/**************/

.sample-images {
  display: flex;
}

.sample-images div {
  text-align: center;
  padding-top: 1em;
  width: 50%;
}

.sample-images img {
  display: inline-block;
  max-width: 250px;
}

.sample-image-title {
  color: #cc9;
  font-weight: bold;
}

#show-sample-images {
  background: none;
  border: none;
  color: #cc9;
  font-weight: bold;
  cursor: pointer;     
}

#show-sample-images:focus {
  outline: none;
}

header {
  padding: 2em 1em;
}


/**********/

html {
  font-size: 100%;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  height: 100%;
  overflow-y: scroll;
}

body {
  font-family: Verdana,Geneva,"DejaVu Sans",sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background:#5a5454;
  color: white;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.9em;
  font-weight: 700;
  line-height: 1.3;
  margin: 7px 0;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5,h6 {
  font-size: 1em;
}

a img {
  border: none;
}

p {
  margin: 0 0 1.5em;
  padding: 0;
}

em,dfn {
  font-style: italic;
}

ins {
  border-bottom: none;
  text-decoration: none;
}

pre,code,tt,samp,kbd,var {
  font-size: 1em;
  font-family: Consolas,"Lucida Console",Menlo,Monaco,"DejaVu Sans Mono",monospace,sans-serif;
}

blockquote,q {
  font-style: italic;
  quotes: "" "";
}

blockquote {
  margin: 0 0 1.5em;
  padding: 0 0 0 3em;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: "";
}

blockquote p {
  margin: 0;
}

strong,dfn,caption,th {
  font-weight: 700;
}

ul,ol {
  margin: 0 0 1.5em 40px;
  padding: 0;
}

.item-list ul,.item-list ol {
  margin: 0 0 0 12px;
  padding: 0;
}

ul ul,ul ol,ol ol,ol ul,.block ul ul,.block ul ol,.block ol ol,.block ol ul,.item-list ul ul,.item-list ul ol,.item-list ol ol,.item-list ol ul {
  margin-bottom: 0;
}

ul {
  list-style-type: disc;
}

ul ul ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

ul ul,ul ul ul ul {
  list-style-type: circle;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 0 1.5em 40px;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

audio,canvas,video {
  display: inline-block;
  *display: inline;
  *zoom:1;}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

form {
  margin: 0 0 1.5em;
  padding: 0;
}

.form-item label {
  font-weight: 400;
}

input {
  margin: 0;
}

input.title {
  font-size: 1.3em;
}

input.text,input.title,textarea,select {
  border: 1px solid #ccc;
  margin: 0;
}

select {
  margin-bottom: 3px;
  padding: 3px;
}

input.form-text,input.form-password,input.form-file,textarea {
  background-color: #fafafa;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 4px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-textarea-wrapper.resizable textarea {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

input.form-text {
  max-width: 100%;
}

input.form-text,input.form-password,input.form-file {
  width: auto;
}

.block input.form-text,.block input.form-password,.block input.form-file {
  max-width: 400px;
  width: 100%;
}

input.form-file,.block input.form-file {
  max-width: 240px;
  width: 100%;
}

#block-search-form input.form-text {
  width: auto;
}

input.form-button,input.form-submit {
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 0 5px 0 0;
  padding: 5px 11px;
}

input.form-button:hover,input.form-submit:hover,input.form-button:focus,input.form-submit:focus {
  border-color: #bbb;
}

textarea,input {
  font: 1em normal Arial,Helvetica,sans-serif;
}

.form-item,.form-action {
  margin-top: 10px;
  margin-bottom: 10px;
}

.exposed-filters .form-item {
  margin-top: 0;
  margin-bottom: 10px;
}

.form-item textarea.error {
  padding: 2px;
}

.form-item .description,fieldset .description,.fieldset-layout-settings dd {
  font-size: 0.85em;
}

#article-admin-filter ul {
  padding: .5em 0;
}

#edit-operation-wrapper select {
  margin: .5em;
}

fieldset {
  background: transparent;
  border: 1px solid #dadada;
  margin: 10px 0;
  padding: 10px;
  position: relative;
}

fieldset fieldset:last-child {
  margin-bottom: 0;
}

.form-type-radio .description,.form-type-checkbox .description {
  margin-left: 0;
}

table {
  border-spacing: 0;
  border-color: #eee;
  font-size: inherit;
  font: 100%;
  margin: 10px 0;
  padding: 0;
  width: 100%;
}

table.sticky-header {
  z-index: 10;
}

table,td,th {
  vertical-align: middle;
}

th,thead,thead th {
  background-color: #333;
  border: none;
  color: #fcfcf8;
}

caption,th,td {
  text-align: left;
}

td,th {
  border-bottom: none;
  margin: 0;
  padding: 5px 7px;
  text-align: left;
  vertical-align: middle;
}

tr td:last-child {
  border-right: 1px solid #eee;
}

h1#page-title,.in-maintenance h1#page-title {
  border-bottom: none;
  line-height: 1;
  margin: 0 0 10px;
  padding: 0;
}

